body {
  margin:0;
  display: flex;
  justify-content: center;
}

.container {
  background-color: aqua;
}

.bg-grass {
  width: 1903px;
  height: 840px; 
  background: linear-gradient(180deg, rgba(18, 54, 22, 0.60) 0%, rgba(39, 123, 47, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat; 
}

.title-text {
  color:aqua;
}
